<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>libraries</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>main.java.com.ssb.library.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login</url-pattern>
		<url-pattern>/register</url-pattern>
		<url-pattern>/reset</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserController</servlet-name>
		<servlet-class>main.java.com.ssb.library.controller.UserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserController</servlet-name>
		<url-pattern>/viewUser</url-pattern>
		<url-pattern>/addUser</url-pattern>
		<url-pattern>/deleteAccount</url-pattern>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BookController</servlet-name>
		<servlet-class>main.java.com.ssb.library.controller.BookController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookController</servlet-name>
		<url-pattern>/addBook</url-pattern>
		<url-pattern>/viewBook</url-pattern>
		<url-pattern>/deleteBook</url-pattern>
		<url-pattern>/updateBook</url-pattern>
		<url-pattern>/userViewBook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DownloadController</servlet-name>
		<servlet-class>main.java.com.ssb.library.controller.DownloadController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadController</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>main.java.com.ssb.library.controller.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
  <filter>
		<filter-name>f1</filter-name>
		<filter-class>main.java.com.ssb.library.config.SecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>f1</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>  
</web-app>